
.lists{
    padding: 90px 0;
    background-color: #f3f6f9;
}
.lists__container__filter{
    padding: 0 10px;
}
.lists__container__filter > ul > li{
    list-style: none;
    display: inline-block;
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(45, 44, 44);
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
    border: 2px solid rgb(218, 218, 218);
    padding-left: 25px;
    padding-right: 14px;
    margin-right: 16px;
    position: relative;
    margin-bottom: 20px;
}

.lists__container__filter li i {
    padding-left: 55px;
    line-height: 48px;
    color: rgb(146, 145, 145);
}

.lists-item{
    position: absolute;
    right: 0;
    z-index: 1;
    top: 100%;
    margin: 0;
    width: 100%;
    box-shadow: 0 15px 25px rgb(63 78 100 / 15%); 
    background-color: #fff;
    display: none;
    animation: transalate .5s linear;
}

.lists-item > li > span{
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #ddd;
    color: #51545f;
    text-align: left;
    transition: all .3s ease;
}

.lists-item > li{
    padding: 0 15px;
    text-align: center;
}

.lists__container__filter > ul > li:hover > .lists-item{
    display: block;
}

@keyframes transalate {
    from {
        transform: translateY(50px);
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
                        
.btn-offer{
    width: 200px;
    margin: 0 65%;
}


.list_offer {
    margin-top: 30px;
    padding: 0 10px;
}

.list-item__name{
    position: absolute;
    left: 0; 
    bottom: 27px; 
    width: 180px;
    height: 33px;
    background: #fa9e1b;
    overflow: hidden;
    padding-left: 22px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
}

@media screen and (min-width:1024px) {
    .btn-offer{
        width: 200px;
        margin: 20px 65%;
    }
}

/* table */
@media screen and (min-width:740px) and (max-width:1023px) {
    .list-offer_img img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; 
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .list_img{
        margin-right: 20px;
    }
    .btn-offer{
        width: 200px;
        margin: 0px 35%
    }
}
/* mb */
@media screen and (max-width: 739px) {
    .list-offer_img img{
        position: unset;
    }
    .width-img{
        flex: 0 0 100%;
        max-width:  100%;
    }
    .flext-custom{
        display: flex;
        flex-direction: column;
    }
    .btn-offer{
        margin: 20px 0 0 20px;
    }
    
}