.package{
    background-image: linear-gradient(90deg,rgba(240, 152, 29, 0.7),rgba(141, 89, 236, 0.6)), url('https://khoatranvn00.github.io/travelix/assets/images/packagebg.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.package-container{
    background-color: white;
    padding: 50px 12px;
    margin: 0 10px;
    text-align: center;
}
.package-content{
    margin-bottom: 50px;
    padding: 0 30px;
}


.desc{
    margin-top: 14px;
    color: #a5a5a5;
    line-height: 2;
    font-style: italic;
    text-align: center;
}