.tour{
    margin: 80px 0;
}
.tour-content {
    text-align: center;
    margin-bottom: 50px;
}



.tour-text{
    font-size: 24px;
    color: #919191;
    font-style: italic;
}
.tour-list{
    display: flex;
}
.tour-item{
    background-image: url('https://khoatranvn00.github.io/travelix/assets/images/tour3.webp');
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 425px;

    margin:0 12px 40px 12px;
}

.tour-desc{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(49, 18, 75, .55);
    padding: 30px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tour-date{
    font-size: 13px;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 4px 20px;
    border-radius: 20px;
    min-width: 210px;
    text-align: center;
}
.tour_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tour-item-title{
    font-size: 59px;
    margin-bottom: 10px;
    font-weight: 700;
}

.tour-price{
    font-size: 14px;
    margin-bottom: 10px;
}
.tour-ranking{
    margin-top: 5px;
    font-size: 18px;
}
.tour-ranking i:nth-child(1){
    color: #ffeb8d;
}
.tour-ranking i:nth-child(2){
    color: #fed46b;
}
.tour-ranking i:nth-child(3){
    color: #fbb53d;
}
.tour-ranking i:nth-child(4){
    color: #fa9e1b;
}
.tour-ranking i:nth-child(5){
    color: #a5a5a5;
}



.about_desc{
    font-weight: 600;
    color: #929191;
    margin-top: 60px;
    line-height: 2;
    text-align: justify;
    padding-bottom: 35px;
    font-size: 14px;
}

@media screen and (max-width:739px) {
    
}